.heading {

    text-align: right;
    color: rgba(0, 87, 122, 0.705);
    word-spacing: 3px;
    text-decoration: dashed;
    text-decoration-thickness: 10px;
    font-family: cursive;
    font-size: xx-large;
    right: 0;
    box-sizing: border-box;
}
